<div class="cardDiv">
	<p class="title">{{ article | titlecase }}</p>
	
	<div class="preview">
		<img src={{this.imgSrc}}>
	</div>
	
	<p class="delete" (click)="removeMe()">Delete</p>
	<p class="more" (click)="openPopup()">More...</p>
<div>

<app-clothing-popup *ngIf="this.popupOpen" (closePopupEvent)="closePopup()"  
	[articleName]="this.article" [color]="this.color" [material]="this.material"
	[type]="this.type" [formality]="this.formality" [imgSrc]="this.imgSrc"
	[matchingFormalities]="this.clothesService.getFormalities(this.formality)"
	[matchingColors]="this.clothesService.getColors(this.color)">
</app-clothing-popup>