<div class="clothingFormCard">
	<form [formGroup]="clothingForm" (ngSubmit)="onSubmit()">
		<div id="container" class="articleDiv">
			<label>Article:
				<select formControlName="article" required>
					<option value="Shirt">Shirt</option>
					<option value="Pants">Pants</option>
					<option value="Jacket">Jacket</option>
					<option value="Sweatpants">Sweatpants</option>
					<option value="Sweatshirt">Sweatshirt</option>
				</select>
				
				<div *ngIf="article.invalid">
					<div class="warning" *ngIf="article.errors.minlength">
						Article must be at least 5 characters long (for testing purposes).
					</div>
				</div>
			</label>
		</div>

		<div id="container" class="colorDiv">
			<label class="color">Color:
				<input type="text" formControlName="color">
			</label>
		</div>
		
		<div id="container" class="materialDiv">
			<label>Material:
				<select formControlName="material" required>
					<option value="Cotton">Cotton</option>
					<option value="Denim">Denim</option>
					<option value="Linen">Linen</option>
					<option value="Nylon">Nylon</option>
				</select>
			</label>
		</div>

		<div id="container" class="buttonDiv">
			<button type="submit" [disabled]="!clothingForm.valid">Add +</button>
		</div>
	</form>
	
	<div class="preview">
	</div>
</div>